
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">

  <a class="navbar-brand" href="<%= root_path %>">Picat</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
  <div class="cobutton">
    <% if user_signed_in? %>
      <span class="navbar-text nav-link">
        <%= link_to "Mon panier", cart_path(current_user.cart.id) %>
        <%= link_to "Mon compte", edit_user_registration_path %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </span>
    <% else %>
      <span class="navbar-text nav-link">
        <%= link_to "Sign in", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      </span>
    <% end %>
  </div>
</div>
</nav>
