<br><br>
<div class="container">
  <h1>Tout les articles</h1>
  <br/>
  <br/>
  <br/>
  <% @items.each do |item| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <a href="<%= item_path(item.id) %>" class='card-link'><h5 class="card-title"><%= item.name %></h5></a>
      <p class="card-text"><%= item.description %></p>
      <p class="card-text"><%= item.price %>€</p>
      <% if user_signed_in? %>
      <%= form_for @join_table_items_cart do |f| %>
      <%= f.hidden_field :item_id, value: item.id %>
      <%= f.hidden_field :cart_id, value: current_user.cart.id %>
      <button type="submit" class='btn btn-success'>Ajouter au panier</button>
      <% end %>
    <% end %>
    </div>
  </div>
  <br/>
  <% end %>
 </div>


