<br><br>
<div class="container">
  <h1>Tout les articles</h1><hr><br/><br/>
    <div class="row justify-content-center">
      <% @items.each do |item| %>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card m-3 card-home" style="width: 18rem;">
             <%=image_tag (item.image_url)%>
            <div class="card-body">
              <h5 class="card-title">Nom : <%= item.name %></h5>
              <p class="card-text">Description : <%= item.description %></p>
              <p style="overflow-y:scroll;height:25px" class="card-text">Valeur : <%= item.price %>€</p>
              <a href="<%= item_path(item.id)%>" class='btn btn-primary'>En Savoir plus</a>
            </div>
            <% if user_signed_in? %>
              <%= form_for @join_table_items_cart do |f| %>
               <%= f.hidden_field :item_id, value: item.id %>
               <%= f.hidden_field :cart_id, value: current_user.cart.id %>
               <button type="submit" class='btn btn-success'>Ajouter au panier</button>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</div>


